body {
  padding-top: 50px;
}

header {
  margin-bottom: 30px;
}

.jumbotron {
  background: image-url("Cheeper_main@2x.png") center no-repeat;
  background-size: cover;
  height: 750px;
}

.jumbotron p {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.width-100 {
  width: auto;
}

.box {
  margin-bottom: 10px;
}

.navbar-inverse {
  background-color: #707070;
  border: none;
}

.navbar-brand {
  padding: 10px;
}

.logo {
  height: 30px;
}

.make-this-white {
  filter: brightness(2) invert(0);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.collapse.navber-collapse.navbar-right {
  text-align: right;
  display: block;
}

.collapse.navbar-collapse.navbar-right span {
  margin-right: 20px;
  text-align: right;
}

.cheep_button_area {
  margin: 20px 0;
  padding-left: 20px;
}

.content_area {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff67f;
}

.content_text {
  margin-bottom: 20px;
}

.content_datetime {
  font-size: 0.8em;
}

.col-md-4, .col-lg-3 {
  margin-bottom: 50px;
}

.cover {
  object-fit: cover;
}
